{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img class="logo" width="40%" height="80px" src="{% static 'img/cluster-logo.png' %}" alt="Cluster Army, free SEO tool to generate long tails and keywords clusters" >Peda Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Photo Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/longtailgenerator/">Long tail generator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/outdated-content-tool/">Outdated content tool</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/img-webp-conversion/">Image webp converter</a>
            </li>
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="/cannibalizer-tool/">Cannibalizer tool</a>#}
{#            </li>#}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Other tools
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://www.evemilano.com/keyword-tool/">Keywords tool</a>
                    <a class="dropdown-item" href="http://www.urlsmatch.eu/">URLs Match</a>
                    <a class="dropdown-item" href="http://apps.evemilano.com/http-header-reader/">HTTP Header reader</a>
                </div>
            </li>
        </ul>
    </div>
</nav>